.container{
    background-color:  #24242498;
    width: 100vw;
}
.head-title{
    border-bottom: 1px solid #444343;
    text-shadow: 0 0 10px #7e7d7d;
    color: #fff;
    padding: 0 2rem;
}
.input-body-area{
    display: flex;
    justify-content: flex-start;
    align-items:    flex-end;
    margin-left: 2rem;
    gap: 3%;
    margin-bottom: 4%;
}
label{
    font-size: 13px;
    margin-left: 0.2rem;
}
.input-body-area input{
    display:flex ;   
}
.btn{
    padding: 3px 8px;
}
