body{
    background: linear-gradient(to right, lightgrey, rgb(226, 226, 226),#ffffff);
}
.card{
    width: 18rem;
    /* min-width: 300px; */
}
.header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: linear-gradient(to left, #fff, lightgrey) ;
}
.branding-area{
    color: black;
}
.count-area{
    border: 1px solid black;
    padding: 0.5em 1em;
    border-radius: 1rem;
    font-size: 24px;
    font-weight: bold;
}
.count-area i {
    margin-right: 0.1em;
}
/* .cart-count{

} */
.img-div{
    width: 100%;
    height: 160px;
    /* z-index: 1; */
}
.card-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-body{
    background-color:#fff;
    z-index: 2;
}
.addBtn{
    background: linear-gradient(to right, dodgerblur,lightblue, lightgrey);
    color: #fff;
}
.addBtn:hover{
    background: linear-gradient(to right, darkblue, dodgerblur,lightblue );
    border:-2px solid black;
    color: #fff;
}
.removeBtn{
    background: linear-gradient(to right, red,orangered);
    color: #fff;
}
.removeBtn:hover{
    background: linear-gradient(to right, darkred, red);
    border:-1px solid red;
    color: #fff;
}
